<!DOCTYPE html>
<html>
  <head>
    <title> CPL-6 </title>
  </head>
  <body>
    <p> index page</p>
    <input type="button" value="로그인" onclick="location.href='/login'">
    <input type="button" value="회원가입" onclick="location.href='/join'">
    <input type="button" value="조회" onclick="location.href='/item_list'">
    <input type="button" value="추가" onclick="location.href='/add'">
  </body>
</html>
