<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
<form action="/join_service" method="post">
    <fieldset style="width:50px">
        <legend>회원 가입</legend>
        <table>
            <tr>
                <td>id</td>
                <td><input type="text" name="ID"></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="text" name="PW"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="Addr"></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="Phone"></td>
            </tr>
            <tr>
                <td>submit</td>
                <td><input id="btn_join" type="submit" value="가입"></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>