<!DOCTYPE html>
<html>
<head>
    <head>
        <title>Smart Shopping Admin</title>
        <meta meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Smart Shopping</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="admin_list">Admin</a></li>
                    <li class="active"><a href="member_list">Member</a></li>
                    <li><a href="item_list">Product</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <h1 class="page-header">
                    Member
                </h1>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th> ID </th>
                <th> 주소 </th>
                <th> 전화번호 </th>
            </tr>
            </thead>
            <% for(var i = 0; i < rows.length; i++) { %>
            <tr>
                <td> <%= rows[i].id %></td>
                <td> <%= rows[i].adrr %></td>
                <td> <%= rows[i].phone %></td>
            </tr>
            <% } %>
        </table>
    </div>
</div>
</body>
</html>
